<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/nav.css">
    <title>Document</title>
</head>
<body>
  
    <div>
        <img class="foot-img" src="footer.svg" alt="footer">
    </div>
    <div>
        <p class="foot-text">
            Made with ❤ by Akshad
        </p>
  
    </div>
    <div class="connect">
        <img class="insta" src="insta.png" alt="">
        <img class="tele" src="tele.svg" alt="">
        <img class="git" src="github.png" alt="">
        <img class="link" src="linkedin.png" alt="">
        
    </div>
</body>
</html>
