<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Document</title>
</head>
<body>
    <div >
        <div  class="about-whole" >
        <img class="detail" src="details.svg" alt="" >
        <img  class="skills" src="skills.svg" alt="" >
    </div>
    <div >
        <h3 class="text" >
            Hello, I'am Akshad Swaroop Nayakwadi, trying to seek an
            entry-Level position to
            begin my Carrer in
            high-level Professional
            environment.  I have gained experience in Front-End Web development. Please feel free to contact. Cheers !!!
        </h3>
    </div>
    </div>
</body>
</html>