<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<title>document</title>
</head>
<body>
    
     <%- include('./partials/nav.ejs') %>
   
    <div>
        <img src="overlay.svg" alt="" class="back" >
        <div class="top-whole" >
            <h1  class="hi" >
                Hi There !
            </h1>
            <br>
            <h3 class="name" >
                I am Akshad Nayakwadi, Currently <br> persueing B-Tech from GCEK...
            </h3>
            <a class="hire" href="#contact">Hire Me</a>
        </div>
        <div>
            
        <img src="dev.svg" class="profile" alt="" >
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1 id="projects">Projects</h1>
        <div >
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Personal Website</h5>
                  <h6 class="card-title">Skills Used:-</h6>
                  <h6 class="card-subtitle mb-2 text-muted">EJS ,CSS ,Nodejs ,Mongodb ,Git</h6>
                
                  <p class="card-text"> 1) Feedback form in the website is
                    made using nodejs and mongodb</p>
                  <a href="https://www.yashdhanlobhe.tech "><button type="button" class="btn btn-primary lay" >Live Demo</button></a> 
                  <a href="https://github.com/Akshad7829/yashweb" class="card-link"><button type="button" class="btn btn-outline-primary lay" >View Code</button></a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Picture-perfect</h5>
                  <h6 class="card-title">Skills Used:-</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Reactjs , Git</h6>
                  
                  <p class="card-text">1) Use to download HD photos for
                    free</p>
                  <a href= "https://picture-perfecct.netlify.app/" class="card-link"><button type="button" class="btn btn-primary lay" >Live Demo</button></a>
                  <a href="https://github.com/Akshad7829/picture-perfect" class="card-link"><button type="button" class="btn btn-outline-primary lay" >View Code</button></a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                    
                  <h5 class="card-title">Drum-Kit</h5>
                  <h6 class="card-title">Skills Used:-</h6>
                  <h6 class="card-subtitle mb-2 text-muted">HTML5 , CSS3 , JS ,Git</h6>
                  <p class="card-text">1) Plays music of different
                    instruments
                    </p>
                  <a href="https://akshad7829.github.io/drumplayer/" class="card-link"><button type="button" class="btn btn-primary lay" >Live Demo</button></a>
                  <a href="https://github.com/Akshad7829/drumplayer" class="card-link"><button type="button" class="btn btn-outline-primary lay" >View Code</button></a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Text-Editor</h5>
                  <h6 class="card-title">Skills Used:-</h6>
                  <h6 class="card-subtitle mb-2 text-muted">Reactjs ,Git</h6>
                  <p class="card-text">1) Use to edit text by giving different colors,fonts etc.</p>
                  <a href="https://text-mate.netlify.app/" class="card-link"><button type="button" class="btn btn-primary lay" >Live Demo</button></a>
                  <a href="https://github.com/Akshad7829/Text-Editor" class="card-link"><button type="button" class="btn btn-outline-primary lay" >View Code</button></a>
                </div>
              </div>

        </div>
       
    </div>
  

    <h1 id="about" class="about" >
        About Me
    </h1>

    <%- include('./about.ejs') %>
    
    <br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br> <br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
   
    <br> <br>
    <br>
    <br><br>
    <br>
    <div>
      <br>
      
       <h1>
         Skills
       </h1>
       <br><br>
    <br>
       <div>
        <h4 class="skills-used">
      HTML5
        </h4>
        <h4 class="skills-used">
          CSS3
        </h4>
        <h4 class="skills-used">
          JavaScript
        </h4>
        <h4 class="skills-used">
         Reactjs
        </h4>
        <h4 class="skills-used">
          Git
        </h4>
        <h4 class="skills-used">
          C++
        </h4>
        <h4 class="skills-used">
          MySQL
        </h4>
       
      
       </div>
     </div>
    
   
     <br>
     <br>
     <br>
     <br>
    <h1 id="contact">Contact Me</h1>
    <%- include('./contact.ejs') %>

  
    <%- include('./partials/footer.ejs') %>
</body>
</html>