<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<title>document</title>
</head>
<body>
    
     <%- include('./partials/nav.ejs') %>
   
    <div>
        <img src="overlay.svg" alt="" style="width: 45rem; margin-left: 50rem;z-index:1;position: absolute;">
        <div style="position: absolute; margin-top: 10rem; margin-left: 10rem; ">
            <h1  style="font-weight: bolder; font-size: 3rem;">
                Hi There !
            </h1>
            <br>
            <h3 style="color: grey;">
                I am Akshad Nayakwadi, Currently <br> B-Tech from GCEK...
            </h3>
            <a class="hire" href="#contact">Hire Me</a>
        </div>
        <div>
            
        <img src="dev.svg" alt="" style="width: 40rem;position: relative; margin-left: 50rem; margin-top: 6rem; z-index: 1;">
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h1 id="projects">Projects</h1>
        <div >
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Personal Website</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Picture-perfect</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                    
                  <h5 class="card-title">Drum-Kit</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Text-Editor</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>

        </div>
       
    </div>
   <br>
    <h1 id="about" style="margin-left: 60rem;margin-top: 30rem;">
        About Me
    </h1>

    <%- include('./about.ejs') %>
    
    <br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br> <br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br><br>
    <br>
    <br> <br>
    <br>
    <br><br>
    <br>
  
    <h1 id="contact">Contact Me</h1>
    <%- include('./contact.ejs') %>

  
    <%- include('./partials/footer.ejs') %>
</body>
</html>