.card{
    float: left;
  margin-left: 5rem;

  margin-top: 4rem;
}
.text{
position: absolute;
   
    margin-left: 40rem;
    margin-top: 15rem;
 padding-left: 7%;
 align-content: center;
 padding-right: 2%;


    
  


  font-family: 'Montserrat', sans-serif;
  line-height: 3rem;

}
.hire{
    border: 2px solid black;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    padding: 1%;
    width: 6rem;
    color: white;
    background-color: blueviolet;
}
.hire a:hover{
    color: white;
}
.profile{
  width: 40rem;
  position: relative;
   margin-left: 50rem;
    margin-top: 6rem;
     z-index: 1;

}
.hi{
  font-weight: bolder; 
  
  font-size: 3rem;
}
.name{
  color: grey;
}
.top-whole{
  position: absolute;
   margin-top: 10rem; 
   margin-left: 10rem; 
}
.back{
  width: 45rem;
   margin-left: 50rem;
   z-index:1;
   position: absolute;
}
.about{
  margin-left: 60rem;
  margin-top: 30rem;
}
.about-whole{
  position: relative;
  float: left;
}
.detail{
  width: 30rem;
}
.skills{
  width: 35rem;
  margin-left: -20rem;
}